
// Importing global variables
@import "../../../../masterVariables.scss";

section {
    padding: 0;
    margin: 0;
}

#chartInput {
    width: 100%;
    min-height: 100%;
    resize: none;
    margin-top: 20em;
}

#colorSelect {
    width: 30%;
    height: 20vh;
    resize: none;
    float: right;
}
