
<aside>
    <a href="" routerLink="/" title="Home">DRIS</a>
    <a href="" routerLink="/" title="Home"><i class="material-icons">home</i></a>
    <a href="" routerLink="/new" title="Current Visualizations"><i class="material-icons">show_chart</i></a>
    <a href="#1" title="Previous Visualizations"><i class="material-icons">history</i></a>
    <a href="#2" title="Settings"><i class="material-icons">settings</i></a>
    <a href="#3" title="Instructions"><i class="material-icons">help</i></a>
</aside>

