
<aside>
    <a href="/" routerLink="/" title="Home">DRIS</a>
    <a href="/" routerLink="/" title="Home"><i class="material-icons">home</i></a>
    <a href="/new" routerLink="/new" title="Current Visualizations"><i class="material-icons">show_chart</i></a>
    <a href="#" title="Previous Visualizations"><i class="material-icons">history</i></a>
    <a href="#" title="Settings"><i class="material-icons">settings</i></a>
    <a href="#" title="Instructions"><i class="material-icons">help</i></a>
</aside>

