<!--
  This file contains:
  1. Menubar
  2. Homepage top section
-->

<!-- Menubar starts -->
<app-nav></app-nav>

<!-- Homepage top section starts -->
<div class="home-section">
  <h1>Welcome to DRIS</h1>
  <p>DRIS, <em>or Drawing Really Interesting Sankey</em>, lets you create powerful Sankey visualizations for every need!</p>
  <button routerLink="/new">Visualize Now</button>
</div>
<div class="example-section">
  <svg _ngcontent-naj-c7="" height="400" id="canvas" style="margin: auto auto;" width="90%"><g class="links" fill="none" stroke-opacity="0.2"><path d="M16,169.75254090635508C204.25,169.75254090635508,204.25,181.1612272770926,392.5,181.1612272770926" stroke-width="163.71428571428572" style="stroke: url(&quot;#gradient0&quot;);"><title>CollegePCs → Windows
  200</title></path><path d="M16,430.0667824248723C204.25,430.0667824248723,204.25,426.7326558485212,392.5,426.7326558485212" stroke-width="327.42857142857144" style="stroke: url(&quot;#gradient1&quot;);"><title>SchoolPCs → Windows
  400</title></path><path d="M16,46.96682662064079C400,46.96682662064079,400,41.92857142857131,784,41.92857142857131" stroke-width="81.85714285714286" style="stroke: url(&quot;#gradient2&quot;);"><title>CollegePCs → Mac
  100</title></path><path d="M407.5,242.55408441994973C595.75,242.55408441994973,595.75,236.10714285714275,784,236.10714285714275" stroke-width="286.5" style="stroke: url(&quot;#gradient3&quot;);"><title>Windows → Windows10
  350</title></path><path d="M407.5,488.1255129913783C595.75,488.1255129913783,595.75,491.67857142857133,784,491.67857142857133" stroke-width="204.64285714285717" style="stroke: url(&quot;#gradient4&quot;);"><title>Windows → Linux
  250</title></path></g><g class="nodes" font-family="sans-serif" font-size="18"><g><rect x="1" y="6.038255192069354" height="245.5714285714286" width="15" fill="#BD4512"></rect><text x="22" y="128.82396947778366" dy="0.35em" text-anchor="start">CollegePCs [300]</text><title>CollegePCs
  300</title></g><g><rect x="392.5" y="99.30408441994973" height="491.1428571428571" width="15" fill="#35F956"></rect><text x="413.5" y="344.8755129913783" dy="0.35em" text-anchor="start">Windows [600]</text><title>Windows
  600</title></g><g><rect x="1" y="266.3524967105866" height="327.42857142857144" width="15" fill="#AEA59A"></rect><text x="22" y="430.0667824248723" dy="0.35em" text-anchor="start">SchoolPCs [400]</text><title>SchoolPCs
  400</title></g><g><rect x="784" y="0.9999999999998779" height="81.85714285714288" width="15" fill="#876507"></rect><text x="778" y="41.92857142857131" dy="0.35em" text-anchor="end">Mac [100]</text><title>Mac
  100</title></g><g><rect x="784" y="92.85714285714275" height="286.5" width="15" fill="#222538"></rect><text x="778" y="236.10714285714278" dy="0.35em" text-anchor="end">Windows10 [350]</text><title>Windows10
  350</title></g><g><rect x="784" y="389.3571428571428" height="204.64285714285722" width="15" fill="#5478A4"></rect><text x="778" y="491.6785714285714" dy="0.35em" text-anchor="end">Linux [250]</text><title>Linux
  250</title></g></g><defs><linearGradient gradientUnits="userSpaceOnUse" id="gradient0"><stop offset="10%" stop-color="#BD4512"></stop><stop offset="90%" stop-color="#35F956"></stop></linearGradient><linearGradient gradientUnits="userSpaceOnUse" id="gradient1"><stop offset="10%" stop-color="#AEA59A"></stop><stop offset="90%" stop-color="#35F956"></stop></linearGradient><linearGradient gradientUnits="userSpaceOnUse" id="gradient2"><stop offset="10%" stop-color="#BD4512"></stop><stop offset="90%" stop-color="#876507"></stop></linearGradient><linearGradient gradientUnits="userSpaceOnUse" id="gradient3"><stop offset="10%" stop-color="#35F956"></stop><stop offset="90%" stop-color="#222538"></stop></linearGradient><linearGradient gradientUnits="userSpaceOnUse" id="gradient4"><stop offset="10%" stop-color="#35F956"></stop><stop offset="90%" stop-color="#5478A4"></stop></linearGradient></defs></svg>

  <div>
      <h2>Draw Sankey</h2>
    </div>
</div>

<!-- Homepage top section ends -->
