
// Sidebar control

aside { grid-area: sidebar; }
aside { grid-area: chart; }

div {
    display: grid;
    //grid-template-areas:
    //    'app-sidebar app-sidebar app-chart app-chart app-chart';
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding-right: 10px;
}

app-sidebar {
    grid-column: 1;
    grid-row: 1;

    margin: 0;
    padding: 0;
}

app-chart {
    grid-column: 2/4;
    grid-row: 1;
}

#sankey {
    grid-column: 5;
    grid-row: 1;

    background-color: rgb(233, 255, 239);
}


