
// Sidebar control

aside { grid-area: sidebar; }
aside { grid-area: chart; }

div {
    display: grid;
    //grid-template-areas:
    //    'app-sidebar app-sidebar app-chart app-chart app-chart';
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
}

app-sidebar {
    grid-column: 1;
    grid-row: 1;

    margin: 0;
    padding: 0;
}

app-chart {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row: 1;
}



