@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
// Importing master variables
@import "./masterVariables.scss";

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 20px;
    background-image: url($backgroundImg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: $masterColor;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

// Router transition CSS
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
